%h1 Frontdoor#index
%p Find me in app/views/frontdoor/index.html.haml

%a(href="http://thinktank.sectorfour:11030/") Jaeger

%p
  Accounts to look at:
  %a(href="accounts/c4113a02-a42a-4c73-b836-2c22fb281cbe") c4113a02-a42a-4c73-b836-2c22fb281cbe
